# Dependency directory
node_modules

# Editors
.DS_STORE
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
build/**/*

.env

report
coverage

apidoc
docs

npm-debug.log

ormconfig.json

config/local*

.nyc_output

logs/*

.scannerwork/*